:root {
  /*   COLORS  */
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --yellowGreen: #aacc00;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;

  /*  FONTS  */
  --Roboto-font: Roboto;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--bs-gray-900);
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  height: 100%;
  background: var(--bs-gray-800);
  background: url(/images/ZedSport-Background.png) center center no-repeat;
  background-size: cover;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  position: relative;
  top: -90px;
}

.login-wrapper > .login > .choose {
  display: flex;
  margin: 20px auto;
}

.login-wrapper > .login > .choose > p {
  color: var(--bs-gray-600);
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
}

.login-wrapper > .login > .choose > p:nth-child(1) {
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: 1px 2px 3px var(--bs-gray-600);
}

.login-wrapper > .login > .choose > p:nth-child(2) {
  padding: 5px 20px;
  border-radius: 5px;
}

.login-wrapper > .login > .choose > p:nth-child(2):hover {
  box-shadow: 1px 2px 3px;
}

.login-wrapper > .login {
  width: 50%;
  height: 300px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-wrapper > .login > h5 {
  font-size: 30px;
  color: var(--bs-gray-400);
  text-align: center;
  margin-bottom: 50px;
  text-shadow: 1.5px 1px 3px #000;
}

.login-wrapper > .login > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.login-wrapper > .login > form > label {
  color: var(--bs-gray-400);
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
}

.login-wrapper > .login > form > label:hover {
  background: #495057;
  box-shadow: -2px 5px 2px #2b2f33;
}

.login-wrapper > .login > form > label > input {
  display: flex;
  width: 100%;
  height: 40px;
  margin: 5px 0 15px 0;
  font-size: 16px;
  font-weight: 510;
  color: var(--bs-gray-400);
  padding-left: 10px;
}

.login-wrapper > .login > form > label > input:focus {
  background: #198754;
}

.login-wrapper > .login > form > button {
  font-size: 16px;
  font-weight: 550;
  padding: 10px 5px;
  background: var(--bs-green);
  border: 1px solid var(--bs-green);
  border-radius: 5px;
  cursor: pointer;
  color: var(--bs-gray-400);
  margin-top: 5px;
}

.login-wrapper > .login > form > button:hover {
  background: #198754dd;
}

.login-wrapper > .login > p {
  color: var(--bs-gray-400);
  margin-top: 10px;
  text-align: end;
}

.login-wrapper > .login > p > a {
  text-decoration: none;
  color: #0d6efd;
}

.login-wrapper > .login > p > a:hover {
  color: #0d6dfdd6;
}
